<div class="card" style="width: 18rem;">
    {% if instance.image %}
  <img src={{instance.image.url}} class="card-img-top" alt="Image">
    {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{instance.title}}</h5>
    <p class="card-text">{{instance.description}}</p>
    <a href="{% url 'products:ProductDetail' slug=instance.slug %}" class="btn btn-primary">View</a>
    <br>
    <p style="pading:1px">
        {%include   'products/snippets/update_cart.html' with product=instance cart=cart %}
    </p>

    


  </div>
</div>