{%extends "Base.html"%}
{%block cart%}
<h1>Cart</h1>
{% if cart.products.exists %}
<div class="container">

  <table class="table cartTable" >
  <thead>
    <tr>
      <th>#</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Price</th>
    </tr>
  </thead>
  <tbody class="cartBody">
  {% for p in cart.products.all %}
    <tr class="cart_row">
      <th scope="row"> {{forloop.counter}}</th>
      <td> <a href="{{p.get_absolute_url}}">{{p.title}}</a>
    {%include   'carts/snippets/remove_product.html' with product_id=p.id cart=cart  %}
      </td>
      <td>{{p.price}}</td>
    </tr>

  {%endfor%}
<tr>
  <td colspan="2"></td>
  <td ><b>Total</b><span class="cart_total">{{cart.total}}</span></td>
</tr>
  <tr>
  <td colspan="2"></td>
  <td ><a href=" {% url 'Cart:CartCheckout' %}" class="btn btn-success my-2 my-sm-0 ">Checkout</a></td>
</tr>
  </tbody>
</table>
  <div class="remove_cart_item" style="display:none">
 {%include   'carts/snippets/remove_product.html'   %}
  </div>

  
{%else%}
<p class="lead">Cart is Empty</p>
{%endif%}

</div>


{%endblock cart%}